<div class="container">

    <h1 style="font-weight: 100">Nombre del restaurante: {{name}}</h1>

    <h4>Descripción</h4>
    <p>{{apiInfo.description}}</p>
    {{title}}
    <hr>

    <h5>Sobre la receta</h5>
    <figure>
        <img src="{{image}}" alt="Restaurant image">
    </figure>

    <p><strong>Tipo</strong>: {{restaurantInfo.cuisine}}</p>

    <a href="/" class="btn btn-dark">Volver</a>

</div>