<div class="container steps">

    <h1 style="font-weight: 100"> {{title}}</h1>

    <h2>Descripción</h2>
    <p>{{apiInfo.description}}</p>
    {{title}}
    <hr>

    <h3>Sobre la receta</h3>
    <h4>Pasos</h4>
    <div class="row">

        {{#each apiInfo.0.steps}}
        <h5>
            {{number}} ->
        </h5>
        <div>
            {{step}}
        </div>
        {{/each}}
    </div>

    <a href="/" class="btn btn-dark">Volver</a>

</div>