<div class="container">

    <h1 style="font-weight: 100"> {{title}}</h1>

    <h4>Descripción</h4>
    <p>{{apiInfo.description}}</p>
    {{title}}
    <hr>

    <h5>Sobre la receta</h5>
    <h6>Paso 1</h6>
    <div class="row">

        <figure>
            <img class="detail-image" src="{{apiInfo.0.steps.0.image}}" alt="Restaurant image">
        </figure>

        <p><strong>Tipo</strong>: {{restaurantInfo.cuisine}}</p>
    </div>

    <a href="/" class="btn btn-dark">Volver</a>

</div>