<div class="add-form-section">

    <div class="container">

        <div class="wrap">
            <ul class="tabs">
                <li class="restaurant"> <a href="#tab1"></a>Restaurantes</li>
                <li class="recepies"> <a href="#tab2"></a>Recetas</li>
            </ul>
            <div class="row sections">
                <div class="col-md-6" id="tab1">
                    <h1>Editar restaurante</h1>
                    <hr>

                    <form action="/publicacion/restaurante/editar/{{id}}" method="POST">
                        enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Nombre del restaurante</label>
                            <input type="text" class="form-control" id="username" name="name" value="{{name}}">
                        </div>
                        <div class="form-group">
                            <label for="location">Ubicación</label>
                            <input type="text" class="form-control" id="location" name="location" value="{{location}}">
                        </div>
                        <div class="form-group">
                            <label for="description">descripcion</label>
                            <textarea class="form-control" id="msn" rows="3" placeholder="Descripcion del restaurante"
                                name="description" value="{{description}}"></textarea>
                        </div>
                        <label for="cuisine">Cuisine</label>
                        <select class="form-control" id="cuisine" name="cuisine" value="{{cuisine}}">
                            <option value="spanish">Española</option>
                            <option value="french">Francesa</option>
                            <option value="italian">Italiana</option>
                            <option value="marroqui">Marroqui</option>
                            <option value="american">Americana</option>
                        </select>
                        <div class="form-group">
                            <label for="image">Imagen</label>
                            <input type="file" class="form-control-file" id="image" name="image">
                        </div>
                        <button type="submit" class="btn btn-dark btn-block">Subir</button>
                        {{#if errorMessage}}
                        <div id="error">
                            <p>{{errorMessage}}</p>
                        </div>
                        {{/if}}
                    </form>
                </div>
            </div>



        </div>


    </div>

</div>