<div class="container">

    <h1 style="font-weight: 100">Nombre del restaurante: {{name}}</h1>

    <h4>Descripción</h4>
    <p>{{restaurantInfo.description}}</p>

    {{#if isUser}}
    <button>
        <a href="/restaurante/editar?restaurante_id={{restaurantInfo.id}}">Editar post</a>
    </button>
    <form action="/restaurante/borrar/{{restaurantInfo.id}}" method="POST">
        <button>
            <a>Deletar post</a>
        </button>
    </form>
    {{/if}}

    {{#if isAdmin}}
    <button>
        <a href="/restaurante/editar?restaurante_id={{restaurantInfo.id}}">Editar post</a>
    </button>
    <form action="/restaurante/borrar/{{restaurantInfo.id}}" method="POST">
        <button>
            <a>Deletar post</a>
        </button>
    </form>
    {{/if}}

    <hr>

    <h5>Sobre el restaurante</h5>
    <figure>
        <img src="{{restaurantInfo.image}}" alt="Restaurant image">
    </figure>

    <p><strong>Tipo</strong>: {{restaurantInfo.cuisine}}</p>

    <a href="/" class="btn btn-dark">Volver</a>

</div>