<div class="container">

    <h1 style="font-weight: 100">Nombre del restaurante: {{name}}</h1>

    <h4>Descripción</h4>
    <p>{{description}}</p>


    <button>
        <a href="/restaurante/editar/{{id}}">Editar post</a>
    </button>
    <form action="/restaurante/deletar/{{id}}" method="POST">
        <button>
            <a>Deletar post</a>
        </button>
    </form>

    <hr>

    <h5>Sobre el restaurante</h5>
    <figure>
        <img src="{{image}}" alt="Restaurant image">
    </figure>

    <p><strong>Tipo</strong>: {{cuisine}}</p>

    <a href="/" class="btn btn-dark">Volver</a>

</div>