<div class="container">

    <h1 style="font-weight: 100">{{oneRecipe.name}}</h1>

    <h4>Descripción</h4>
    <p>{{oneRecipe.description}}</p>

    <hr>
    <div class="row">
        <div class="col-4">
            <figure>
                <img class="detail-image" src="{{oneRecipe.image}}" alt="Restaurant image">
            </figure>
        </div>
        <div class="col-8">
            <h5>¿Como se hace?</h5>
            <p><strong>ingredients</strong>: {{ingredients}}</p>
            <h5>Pasos a seguir</h5>
            {{oneRecipe.steps.0.text}}
            {{oneRecipe.steps.1.text}}
            {{oneRecipe.steps.2.text}}
            {{oneRecipe.steps.3.text}}

            <a href="/" class="btn btn-dark">Volver</a>
            {{#if isUser}}
            <button class="btn btn-primary">
                <a href="/publicacion/recetas/editar/{{oneRecipe.id}}">Editar post</a>
            </button >
            <form action="/publicacion/recetas/borrar/{{oneRecipe.id}}">
                <button class="btn btn-dark">
                    <a>borrar post</a>
                </button>
            </form>
            {{/if}}
        </div>

    </div>

</div>