<div class="container">

    <h1 style="font-weight: 100">Nombre de la receta: {{oneRecipe.name}}</h1>

    <h4>Descripción</h4>
    <p>{{oneRecipe.description}}</p>

    <hr>

    <h5>¿Como se hace?</h5>
    <figure>
        <img src="{{oneRecipe.image}}" alt="Restaurant image">
    </figure>

    <p><strong>ingredients</strong>: {{ingredients}}</p>
    <h5>Pasos a seguir</h5>
    {{oneRecipe.steps.0.text}}
    {{oneRecipe.steps.1.text}}
    {{oneRecipe.steps.2.text}}
    {{oneRecipe.steps.3.text}}


    <a href="/" class="btn btn-dark">Volver</a>
    {{#if isUser}}
    <button>
        <a href="/publicacion/recetas/editar/{{oneRecipe.id}}">Editar post</a>
    </button>
    <form action="/publicacion/recetas/borrar/{{oneRecipe.id}}">
        <button>
            <a>borrar post</a>
        </button>
    </form>
    {{/if}}
</div>