<section class="container">

    <h1>Tus Restaurantes</h1>
    <div class="card" style="border-style: none;">
        <div class="row">
            {{#each urProfileRestaurant}}
            <div class="col-3">
                <div class="card-header">
                    <a href="/restaurante/details/{{id}}">
                        <figure>
                            <img src="{{image}}" alt="restaurants photo">
                        </figure>
                    </a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{name}}</li>
                    <li class="list-group-item">{{description}}</li>
                    <li class="list-group-item">
                     <a href="/publicacion/tu-perfil/restaurantes/detalles/{{id}}">Editar</a>
                    </li>
                </ul>
    
            </div>
            {{/each}}
    
        </div>
    </div>
    <hr>
    <h1>Tus Recetas</h1>
    <div class="card" style="border-style: none;">
        <div class="row">
            {{#each urProfileRecipes}}
            <div class="col-3">
                <div class="card-header">
                    <a href="/recetas/detalles/{{id}}">
                        <figure>
                            <img src="{{image}}" alt="restaurants photo">
                        </figure>
                    </a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{name}}</li>
                    <li class="list-group-item">{{description}}</li>
                    <li class="list-group-item">
                        <a href="/publicacion/tu-perfil/recetas/detalles/{{id}}">Editar</a>
                    </li>
                </ul>
    
            </div>
            {{/each}}
    
        </div>
    </div>
    </div>
</section>