
<div class="container">
<h1>NUESTROS USUARIOS OPINAN</h1>
<hr>
<div class="card" style="border-style: none;">
    <div class="row">
        {{#each theRestaurants}}
            <div class="col-3">
                <div class="card-header">
                <a href="/restaurante/details/{{id}}">
                    <figure>
                        <img src="{{image}}" alt="restaurants photo">
                    </figure>
                </a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{name}}</li>
                    <li class="list-group-item">{{description}}</li>
                    <li class="list-group-item"><a href="/publicacion/perfil/{{author._id}}">
                        <h1>{{author.user.username}}</h1>
                    </a></li>

                    <a class=" btn btn-secondar"  href="/restaurante/details/{{id}}"><li>detalles</li></a>
                </ul>

            </div>
        {{/each}}

    </div>

</div>


</div>
<script src="/js/mapstyles.js"></script>
<script src="/js/map-restaurants-app.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9bMJakHxHvW_U33axYwTUL7ccGZMpUUk&callback=initMap"></script>