<section>
    <div class="container box1">
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <a href="/api/recetas/tipos?type=main-course"><img src="/img/meat.png" class="glide__slide"
                            alt=""></a>
                    <a href="/api/recetas/tipos?type=bread"><img src="/img/bread.png" class="glide__slide" alt=""></a>
                    <a href="/api/recetas/tipos?type=dessert"><img src="/img/dessert03.png" class="glide__slide"
                            alt=""></a>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="container index">
    <div class="row index-img">
        <div class="col-3 wings-img">
            <a href="/api/recetas/buscar"><img class="" src="/img/food-community-4.png" alt=""></a>
            <a href="/api/recetas/random"><img class="bottom-img" src="/img/food-community-1.png" alt=""></a>
        </div>
        <div>

        </div>
        <div class="col-6 ">
            <div class="">
                <a href="/restaurante/lista"><img class="big-img" src="/img/restaurante.png" alt=""></a>

            </div>
            <div class="small-center-img">

                <a href="/recetas/lista"><img class="small-img alitas" src="/img/alitas.png" alt=""></a>
            </div>
        </div>
        <div class="col-3 wings-img">
            <a href="/registro"><img class="" src="/img/food-community-2.png" alt=""></a>
            <div>

                <a href="#"><img class="bottom-img" src="/img/food-community-3.png" alt=""></a>
            </div>

        </div>
    </div>

</section>
<hr>
<section class="container">
    <div class="container justify-content-between box2">
        <header class="title">
            <h3>Recetas típicas de algunos países</h3>
            <p></p>
            <hr>
        </header>
        <div class="row d-flex justify-content-around">
            <div class="col-3">
                <a href="/api/recetas/buscar?cuisine=italian">
                    <img src="/img/pasta2.jpg" alt="">
                </a>
            </div>
            <div class="col-3 box3">
                <a href="/api/recetas/buscar?cuisine=spanish">
                    <img src="/img/paella2.jpg" alt="">
                </a>
            </div>
            <div class="col-3 box3">
                <a href="/api/recetas/buscar?cuisine=latin-american">
                    <img src="/img/tacos4.jpg" alt="">
                </a>
            </div>
        </div>

    </div>
</section>

<hr>

<section class="container">
    <h4>Posts de nuestros usuarios</h4>
    <div class="row">
        <div class="col-6">
            {{#each allRestaurants}}
            <a href="/publicacion/perfil/{{author._id}}">
                <h1>{{author.username}}</h1>
            </a>
            <h2>{{name}}</h2>
            <a href="/restaurante/details/{{id}}">
                <figure>
                    <img src="{{image}}" alt="restaurants photo">
                </figure>
            </a>
            <p><strong>Descripción: </strong>{{description}}</p>
            <hr>
            {{/each}}
        </div>
    </div>
    <div class="col-6">
        {{#each allRecipes}}
        <a href="/publicacion/perfil/{{author._id}}">
            <h1>{{author.username}}</h1>
        </a>
        <h2>{{name}}</h2>
        <a href="/recetas/detalles/{{id}}">
            <figure>
                <img src="{{image}}" alt="restaurants photo">
            </figure>
        </a>
        <p>{{description}}</p>
        <p>{{ingredients}}</p>
        <p><strong>Descripción: </strong>{{description}}</p>
        <hr>
        {{/each}}
    </div>
    </div>

    </div>


</section>


<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
    new Glide('.glide').mount()
</script>
<script src="/services/api-handler.js"></script>
<script src="https://api.spoonacular.com/recipes/complexSearch?apiKey=54362f27bf61476e95d0f5988211fbfd"></script>