<section>
    <div class="container box1">
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <img src="/img/prueba-slider.png" class="glide__slide" alt="">
                    <img src="/img/prueba-slider.png" class="glide__slide" alt="">
                    <img src="/img/prueba-slider.png" class="glide__slide" alt="">
                    <img src="/img/prueba-slider.png" class="glide__slide" alt="">
                </ul>
            </div>
        </div>
    </div>

</section>


<section class="container index">
  <div class="row index-img">
        <div class="col-3 wings-img">
            <a href="/api/recetas/buscar" ><img class="" src="/img/food-community-4.png" alt=""></a>
            <a href="/api/recetas/random"><img class="bottom-img" src="/img/food-community-1.png" alt=""></a>
        </div>
        <div>

        </div>
         <div class="col-6 ">
             <div class="">
            <a href="/recetas"><img class="big-img" src="/img/restaurante.png" alt="" ></a>

             </div>
            <div class="small-center-img">

            <a href="#"><img class="small-img" src="/img/alitas.png" alt=""></a>
            </div>
        </div>
        <div class="col-3 wings-img">
            <a href="/registro"><img class="" src="/img/food-community-2.png" alt=""></a>
            <div>

            <a href="#"><img class="bottom-img" src="/img/food-community-3.png" alt=""></a>
            </div>
            
        </div>
    </div>
    
 </section>
<hr>
<section class="container">
    <div class="container justify-content-between box2">
        <header class="title">
            <h1>Recetas para cualquier momento del dia</h1>
            <p></p>
            <hr>
        </header>
        <div class="row">
            <div class="col-3 box3">
                <h1>hola</h1>
            </div>
            <div class="col-3 box3">
                <h1>hola</h1>
            </div>
            <div class="col-3 box3">
                <h1>hola</h1>
            </div>
        </div>

    </div>
</section>

<section>
 
    {{#each allRecipesPost}}
    <h1> Receta: {{name}}</h1>
    <figure>
        <img src="{{image}}" alt="{{description}}">
    </figure>
    <p>{{descripcion}}</p>
    <p>{{method}}</p>
    {{/each}}

  


</section>

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
     new Glide('.glide').mount()
</script>





<div class="form-group">
    <label for="method">¿Como se hace?
    </label>
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                    aria-controls="v-pills-home" aria-selected="true">Paso 1</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                    aria-controls="v-pills-profile" aria-selected="false">Paso 2</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                    aria-controls="v-pills-messages" aria-selected="false">Paso 3</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                    aria-controls="v-pills-settings" aria-selected="false">Paso 4</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <textarea class="form-control" id="msn" rows="3" placeholder="Aquí los pasos de la receta"
                        name="method"></textarea>
                    <p>
                    <div class="form-group">
                        <label for="description">descripcion</label>
                        <textarea class="form-control" id="msn" rows="2"
                            placeholder="Utensiolios que necesitaras en este paso" name="description"></textarea>
                    </div>
                    <label for="input-time">Tiempo por paso</label>
                    <input id="input-time" type="time" value="00:00:01">
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <textarea class="form-control" id="msn" rows="3" placeholder="Aquí los pasos de la receta"
                        name="method"></textarea>
                    <p>
                    <div class="form-group">
                        <label for="description">descripcion</label>
                        <textarea class="form-control" id="msn" rows="2"
                            placeholder="Utensiolios que necesitaras en este paso" name="description"></textarea>
                    </div>
                    <label for="input-time">Tiempo por paso</label>
                    <input id="input-time" type="time" value="00:00:01">
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <textarea class="form-control" id="msn" rows="3" placeholder="Aquí los pasos de la receta"
                        name="method"></textarea>
                    <p>
                    <div class="form-group">
                        <label for="description">descripcion</label>
                        <textarea class="form-control" id="msn" rows="2"
                            placeholder="Utensiolios que necesitaras en este paso" name="description"></textarea>
                    </div>
                    <label for="input-time">Tiempo por paso</label>
                    <input id="input-time" type="time" value="00:00:01">
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <textarea class="form-control" id="msn" rows="3" placeholder="Aquí los pasos de la receta"
                        name="method"></textarea>
                    <p>
                    <div class="form-group">
                        <label for="description">descripcion</label>
                        <textarea class="form-control" id="msn" rows="2"
                            placeholder="Utensiolios que necesitaras en este paso" name="description"></textarea>
                    </div>
                    <label for="input-time">Tiempo total</label>
                    <input id="input-time" type="time" value="00:00:01">
                </div>
            </div>
        </div>
    </div>

    <label for="input-time">tiempo total</label>
    <input id="input-time" type="time" value="00:00:01">
    </p>
    <p>
</div>