<section>
    <div class="container box1">
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <img src="/img/prueba-slider.png" class="glide__slide" alt="">
                    <img src="/img/prueba-slider.png" class="glide__slide" alt="">
                    <img src="/img/prueba-slider.png" class="glide__slide" alt="">
                    <img src="/img/prueba-slider.png" class="glide__slide" alt="">
                </ul>
            </div>
        </div>
    </div>

</section>


<section class="container index">
    <div class="row index-img">
        <div class="col-3 wings-img">
            <a href="/api/recetas/buscar"><img class="" src="/img/food-community-4.png" alt=""></a>
            <a href="/api/recetas/random"><img class="bottom-img" src="/img/food-community-1.png" alt=""></a>
        </div>
        <div>

        </div>
        <div class="col-6 ">
            <div class="">
                <a href="/restaurante/lista"><img class="big-img" src="/img/restaurante.png" alt=""></a>

            </div>
            <div class="small-center-img">

                <a href="#"><img class="small-img" src="/img/alitas.png" alt=""></a>
            </div>
        </div>
        <div class="col-3 wings-img">
            <a href="/registro"><img class="" src="/img/food-community-2.png" alt=""></a>
            <div>

                <a href="#"><img class="bottom-img" src="/img/food-community-3.png" alt=""></a>
            </div>

        </div>
    </div>

</section>
<hr>
<section class="container">
    <div class="container justify-content-between box2">
        <header class="title">
            <h1>Recetas para cualquier momento del dia</h1>
            <p></p>
            <hr>
        </header>
        <div class="row">
            <div class="col-3 box3">
                <h1>hola</h1>
            </div>
            <div class="col-3 box3">
                <h1>hola</h1>
            </div>
            <div class="col-3 box3">
                <h1>hola</h1>
            </div>
        </div>

    </div>
</section>

<section class="container">
    {{#each restaurantes}}
    <a href="#">
        <h1>hola{{author.0.username}}</h1>
    </a>
    <div class="row">
        <h2>{{name}}</h2>
        <a href="/details/{{id}}">
            <figure>
                <img src="{{image}}" alt="restaurants photo">
            </figure>
        </a>
        <p><strong>Descripción: </strong>{{description}}</p>
    </div>
    {{/each}}


</section>

<section>







    {{#each allRecepiesPost}}
    <h1> Receta: {{name}}</h1>
    <figure>
        <img src="{{image}}" alt="{{description}}">
    </figure>
    <p>{{descripcion}}</p>
    <p>{{method}}</p>

    {{/each}}


</section>

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
    new Glide('.glide').mount()
</script>