<section>
    <div class="container box1">
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <a href="/api/recetas/tipos?type=main-course"><img src="/img/meat.png" class="glide__slide"
                            alt=""></a>
                    <a href="/api/recetas/tipos?type=bread"><img src="/img/bread.png" class="glide__slide" alt=""></a>
                    <a href="/api/recetas/tipos?type=dessert"><img src="/img/dessert03.png" class="glide__slide"
                            alt=""></a>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="container index">
    <div class="row index-img">
        <div class="col-3 wings-img">
            <a href="/recetas/lista"><img class="" src="/img/food-community-4.png" alt=""></a>
            <a href="/recetas/lista"><img class="bottom-img" src="/img/food-community-1.png" alt=""></a>
        </div>
        <div>

        </div>
        <div class="col-6 ">
            <div class="restaurant-img">
                <a href="/restaurante/lista"><img class="big-img" src="/img/restaurante.png" alt=""></a>
            </div>
        </div>
        <div class="col-3 wings-img">
            <a href="/recetas/lista"><img class="" src="/img/food-community-2.png" alt=""></a>
            <div>
                <a href="/recetas/lista"><img class="bottom-img" src="/img/food-community-3.png" alt=""></a>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="container">
    <div class="container justify-content-between box2">
        <header class="title">
            <h3>Recetas típicas de algunos países</h3>
            <p></p>
            <hr>
        </header>
        <div class="row d-flex justify-content-around">
            <div class="col-3">
                <a href="/api/recetas/buscar?cuisine=italian">
                    <img src="/img/pasta2.jpg" alt="">
                </a>
            </div>
            <div class="col-3 box3">
                <a href="/api/recetas/buscar?cuisine=spanish">
                    <img src="/img/paella2.jpg" alt="">
                </a>
            </div>
            <div class="col-3 box3">
                <a href="/api/recetas/buscar?cuisine=latin-american">
                    <img src="/img/tacos4.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<div class="container post-sections">
    <div class="img-recetas">
         <img src="/img/recetas.png"  alt="">
    </div>
    <hr>
    <div class="card" style="border-style: none;">
        <div class="row">
            {{#each allRestaurants}}
            <div class="col-3">
                <div class="card-header">
                    <a href="/restaurante/details/{{id}}">
                        <figure>
                            <img src="{{image}}" alt="restaurants photo">
                        </figure>
                    </a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{name}}</li>
                    <li class="list-group-item">{{description}}</li>
                    <li class="list-group-item author">
                        <p> created by
                            <a href="/publicacion/perfil/{{author._id}}">
                                <strong>{{author.username}}</strong></p>
                            </a></li>
                        </p>

                    <a class=" btn btn-secondar" href="/restaurante/details/{{id}}">
                        <li>detalles</li>
                    </a>
                </ul>
            </div>
            {{/each}}
        </div>
    </div>


<hr>


<div class="container post-sections">
    <img src="/img/restaurantes.png" alt="">
    <hr>
    <div class="card" style="border-style: none;">
        <div class="row">
            {{#each allRecipes}}
            <div class="col-3">
                <div class="card-header">
                    <a href="/recetas/detalles/{{id}}">
                        <figure>
                            <img src="{{image}}" alt="restaurants photo">
                        </figure>
                    </a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{name}}</li>
                    <li class="list-group-item">{{description}}</li>
                    <li class="list-group-item">
                    <p> created by
                        <a href="/publicacion/perfil/{{author._id}}">
                            <strong>{{author.username}}</strong>
                    </p>
                    </a></li>
                    </p>
                    <a class=" btn btn-secondar" href="/recetas/detalles/{{id}}">
                        <li>detalles</li>
                    </a>
                </ul>

            </div>
            {{/each}}

        </div>
    </div>
 </div>




    <div class="container">
        <h1>NUESTROS USUARIOS OPINAN</h1>
        <hr>
        <div class="card" style="border-style: none;">
            <div class="row">
                {{#each allRecipes}}
                <div class="col-3">
                    <div class="card-header">
                        <a href="/restaurante/details/{{id}}">
                            <figure>
                                <img src="{{image}}" alt="restaurants photo">
                            </figure>
                        </a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{name}}</li>
                        <li class="list-group-item">{{description}}</li>
                        <li class="list-group-item"><a href="/publicacion/perfil/{{author._id}}">
                                <h1>{{author.username}}</h1>
                            </a></li>
                        <a class=" btn btn-secondar" href="/recetas/detalles/{{id}}">
                            <li>detalles</li>
                        </a>
                    </ul>
                </div>
                {{/each}}
            </div>
        </div>
    </div>




<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
    new Glide('.glide').mount()
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/services/api-handler.js"></script>
<script src="https://api.spoonacular.com/recipes/complexSearch?apiKey=54362f27bf61476e95d0f5988211fbfd"></script>
<script src="/js/mapstyles.js"></script>
<script src="/js/map-restaurants-app.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9bMJakHxHvW_U33axYwTUL7ccGZMpUUk&callback=initMap"></script>
